<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AdministratorSoap" />
        <binding name="RecordSoap" />
        <binding name="BetSoap" />
        <binding name="AdministratorSoap1" />
        <binding name="CardSoap" />
        <binding name="PlayerChipSoap" />
        <binding name="RecordSoap1" />
        <binding name="GameSoap" />
        <binding name="PlayerChipSoap1" />
        <binding name="BetSoap1" />
        <binding name="RecordSoap2" />
        <binding name="AdministratorSoap2" />
        <binding name="BetSoap2" />
        <binding name="PlayerChipSoap2" />
        <binding name="BetSoap3" />
        <binding name="AdministratorSoap3" />
        <binding name="PlayerChipSoap3" />
        <binding name="RecordSoap3" />
        <binding name="CardSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://121.197.3.168:8080/Api/Administrator.asmx"
        binding="basicHttpBinding" bindingConfiguration="AdministratorSoap1"
        contract="ServiceAdministrator.AdministratorSoap" name="AdministratorSoap" />
      <endpoint address="http://121.197.3.168:8080/Api/Record.asmx"
        binding="basicHttpBinding" bindingConfiguration="RecordSoap1"
        contract="ServiceRecord.RecordSoap" name="RecordSoap" />
      <endpoint address="http://localhost:2986/Api/PlayerChip.asmx"
        binding="basicHttpBinding" bindingConfiguration="PlayerChipSoap"
        contract="ServicePlayerChip.PlayerChipSoap" name="PlayerChipSoap" />
      <endpoint address="http://localhost:2986/Api/Card.asmx" binding="basicHttpBinding"
        bindingConfiguration="CardSoap" contract="ServiceCard.CardSoap"
        name="CardSoap" />
      <endpoint address="http://localhost:2986/Api/Bet.asmx" binding="basicHttpBinding"
        bindingConfiguration="BetSoap" contract="ServiceBet.BetSoap"
        name="BetSoap" />
      <endpoint address="http://localhost:2986/Api/Game.asmx" binding="basicHttpBinding"
        bindingConfiguration="GameSoap" contract="ServiceGame.GameSoap"
        name="GameSoap" />
      <endpoint address="http://localhost:2986/Api/PlayerChip.asmx"
        binding="basicHttpBinding" bindingConfiguration="PlayerChipSoap1"
        contract="ServicePlayerChip.PlayerChipSoap" name="PlayerChipSoap1" />
      <endpoint address="http://localhost:2986/Api/Bet.asmx" binding="basicHttpBinding"
        bindingConfiguration="BetSoap1" contract="ServiceBet.BetSoap"
        name="BetSoap1" />
      <endpoint address="http://localhost:2986/Api/Record.asmx" binding="basicHttpBinding"
        bindingConfiguration="RecordSoap2" contract="ServiceRecord.RecordSoap"
        name="RecordSoap1" />
      <endpoint address="http://localhost:2986/Api/Administrator.asmx"
        binding="basicHttpBinding" bindingConfiguration="AdministratorSoap2"
        contract="ServiceAdministrator.AdministratorSoap" name="AdministratorSoap1" />
      <endpoint address="http://localhost:2986/Api/Bet.asmx" binding="basicHttpBinding"
        bindingConfiguration="BetSoap2" contract="ServiceBet.BetSoap"
        name="BetSoap2" />
      <endpoint address="http://localhost:2986/Api/PlayerChip.asmx"
        binding="basicHttpBinding" bindingConfiguration="PlayerChipSoap2"
        contract="ServicePlayerChip.PlayerChipSoap" name="PlayerChipSoap2" />
      <endpoint address="http://localhost:2986/Api/Bet.asmx" binding="basicHttpBinding"
        bindingConfiguration="BetSoap3" contract="ServiceBet.BetSoap"
        name="BetSoap3" />
      <endpoint address="http://localhost:2986/Api/Administrator.asmx"
        binding="basicHttpBinding" bindingConfiguration="AdministratorSoap3"
        contract="ServiceAdministrator.AdministratorSoap" name="AdministratorSoap2" />
      <endpoint address="http://localhost:2986/Api/PlayerChip.asmx"
        binding="basicHttpBinding" bindingConfiguration="PlayerChipSoap3"
        contract="ServicePlayerChip.PlayerChipSoap" name="PlayerChipSoap3" />
      <endpoint address="http://localhost:2986/Api/Record.asmx" binding="basicHttpBinding"
        bindingConfiguration="RecordSoap3" contract="ServiceRecord.RecordSoap"
        name="RecordSoap2" />
      <endpoint address="http://localhost:2986/Api/Card.asmx" binding="basicHttpBinding"
        bindingConfiguration="CardSoap1" contract="ServiceCard.CardSoap"
        name="CardSoap1" />
    </client>
  </system.serviceModel>
</configuration>
