<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="RecordSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2986/Api/Record.asmx" binding="basicHttpBinding"
                bindingConfiguration="RecordSoap" contract="RecordService.RecordSoap"
                name="RecordSoap" />
        </client>
    </system.serviceModel>
</configuration>